:root {
    /* Icon Size */
    --icon-size-n10: 10px;
    --icon-size-n12: 12px;
    --icon-size-n14: 14px;
    --icon-size-n16: 16px;
    --icon-size-n18: 18px;
    --icon-size-n20: 20px;
    --icon-size-n22: 22px;
    --icon-size-n24: 24px;
    --icon-size-n28: 28px;
    --icon-size-n32: 32px;
    --icon-size-n36: 36px;
    --icon-size-n40: 40px;
    --icon-size-n48: 48px;
    --icon-size-n64: 64px;
    --icon-size-n80: 80px;
    --icon-size-n96: 96px;
    --icon-size-n128: 128px;
    --icon-size-n160: 160px;
    --icon-size-n192: 192px;
    --icon-size-n256: 256px;
    --icon-size-n384: 384px;
    --icon-size-n512: 512px;
}